<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/lists" expand="full">Open lists</ion-button>
  <ion-button routerLink="/lists/2" expand="full">Open list with ID 2</ion-button>
  <ion-button routerLink="/lists/2/items" expand="full">Open list 2 items</ion-button>
  <ion-button routerLink="/lists/2/items/40" expand="full">Open item 40 in list 2</ion-button>
  <ion-button (click)="showModal()" expand="full">Open modal</ion-button>

  <ion-card>
    <ion-card-content>
      <app-textbox title="My custom input" (textChanged)="childChanged($event)"></app-textbox>
      <ion-label color="secondary">Value from child: {{ valueFromChild }}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
